<p>Hi,</p>

<p>Welcome to the {{ frequency }} Call for Papers digest for {{ tag }} conferences. Please find a moment to contribute to the <a href="https://github.com/afilina/dev-community-data">open conference data</a> behind it. Feel free to also use that data in any way you like.</p>

<p>
Enjoy!<br/>
The ConFoo team<br/>
<a href="https://confoo.ca">https://confoo.ca</a><br/>
<a href="mailto:board@confoo.ca">board@confoo.ca</a>
</p>